doctype html
html
  head
    title Scientific quiz
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500', rel='stylesheet')
    link(href='bundle/app.css', rel='stylesheet')
    style.
      body {
        font-family: Roboto;
      }
  body
    #root
    script.
      window.user = !{user};
    script(src='bundle/js/app.js')